function Circle.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
push constant 5
add
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push pointer 0
return
function Circle.containsPoint 1
push argument 0
pop pointer 0
push argument 1
call Point.getX 1
push this 0
sub
push argument 1
call Point.getX 1
push this 0
sub
call Math.multiply 2
push argument 1
call Point.getY 1
push this 1
sub
push argument 1
call Point.getY 1
push this 1
sub
call Math.multiply 2
add
call Math.sqrt 1
pop local 0
push local 0
push this 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
